//* common

body {
  margin: 0px;
  overflow: hidden;
}

.el-menu-item {
  user-select: none;
}

.margin-top {
  margin-top: 15px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.padding-col {
  padding: 0px 10px;
}

.input-label {
  font-size: 14px;
  margin: 0px 5px;
}

.gloria-highlight-text {
  background-color: #f54e7c;
}

.el-tabs__item {
  user-select: none;
}

.el-popover.el-popper.is-dark {
  color: #ffffff;
  background: #303133;
  border-color: #3f434c;
}
