//* variables

//// ----------------------------------------------------------------------------
//! dark
//// ----------------------------------------------------------------------------

$dark-background-color-primary: #0d1117;
$dark-button-danger-color: #b34242;
$dark-button-default-color: #6f7279;
$dark-buttom-default-hover-color: #848997;
$dark-button-info-color: #21262d;
$dark-button-success-color: #278f3a;
$dark-button-warning-color: #bb7f26;
$dark-context-background-color: #292a2d;
$dark-context-divided-color: #636468;
$dark-input-background-color: #273444;
$dark-notify-card-background-color: #25353e;
$dark-notify-icon-background-color: #283841;
$dark-radio-background-color: #21262d;
$dark-radio-background-color-highlight: #409eff;
$dark-tabs-item-background-color: #2f333a;
$dark-tabs-item-background-color-height: #161b22;
$dark-text-color-brighter: #fafafa;
$dark-text-color-darker: #8b949e;
$dark-text-color-highlight: #58a6ff;
$dark-text-color-primary: #c9d1d9;
$dark-tab-card-background-color: #2f3869;

//// ----------------------------------------------------------------------------
